bg BITMAP "image\\bg\\bg_bmp_144.bmp"
cross BITMAP "image\\buttons\\cross.bmp"
mute_off BITMAP "image\\buttons\\mute_off_bmp.bmp"
mute_on BITMAP "image\\buttons\\mute_on_bmp.bmp"
pause_off BITMAP "image\\buttons\\pause_off_bmp.bmp"
pause_on BITMAP "image\\buttons\\pause_on_bmp.bmp"
unknown BITMAP "image\\buttons\\unknown.bmp"
tray_blue ICON "image\\tray\\tray_blue_icon.ico"
tray_green ICON "image\\tray\\tray_green_icon.ico"
tray_orange ICON "image\\tray\\tray_orange_icon.ico"
tray_red ICON "image\\tray\\tray_red_icon.ico"
